.tasklist-container {
    height: 90%;
    background-color: #EDECEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

.tasklist-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 3px;
}

.tasklist-header div {
    margin: 0 5px 5px 0;
}

.task-head-count {
    background-color: #06283D;
    color: #DFF6FF;
    width: 17px;
    border-radius: 50%;
    text-align: center;
}

.task-head-title {
    width: fit-content;
}

.tasklist-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    position: relative;
    margin-bottom: 26px;
    /* overflow-y: scroll; */
}

.task-input-container {
    width: 92%;
    display: flex;

}

.task-input-form {
    min-width: 100%;
    
}

.task-input {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    background-color: #E0DFE1;
    border: none;
    border-radius: 5px;
    text-indent: 5px;
    margin-top: 8px;
    outline: none;
}

.task-input:focus {
    background-color: #DFF6FF;
}

.task-list-items {
    width: 100%;
}

.task-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}