.quest-info-container {
    height: 100vh;
    background-color: #EDECEE;
    width: 94%;
    display: flex;
    flex-direction: column;
}

.quest-info-top {
    display: flex;
    width: 100%;
    height: 400px;
}

.quest-info-window {
    height: 100%;
    width: 75%;
}

.quest-info-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.quest-info-details-container div {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.quest-window-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: transparent;
}

.quest-info-details {
    height: 100%;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}