.quest-info-container {
    height: 100vh;
    background-color: #EDECEE;
    width: 92%;
    display: flex;
    flex-direction: column;
}

.quest-info-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}