/* .inventory-item-div{
    display: flex;
    width: 25%;
    background-color: blue;
} */

.inventory-item {
    /* flex-wrap: wrap; */
    width: 70%;
    margin: 4px 0 0 12px;
    /* border: 1px solid black; */
    aspect-ratio: 1;
    object-fit: contain;
}

.inventory-item-div {
    aspect-ratio: 1;
    width: 60.3px;
    height: 60.3px;
    /* background-color: #EAEAEA; */
    border-radius: 12px;
    /* border: 1px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;
}