.team-container {
    /* align-items: center;
    justify-content: center; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 246, 255);
    padding-top: 3%;

}

.team-container div{
    height: 100%;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(237, 236, 238);
}

.engineer-name{
    background-color: blue;
}

.engineer-img{
    height: 100px;
    width: 100px;
    border-radius: 400%;

}

.engineer-avitar {
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;

    
}

.engineer-name {
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

.engineer-container{
    justify-content: center;
    align-items: center;
}

.self-avitar {
    height: 200px;
    width: auto;
    justify-content: center;
    align-items: center;

}
.engineer-profesional-links{
    flex-direction: column;
}

/* .engineer-profesional-links div{
    width: 50px;
} */
.engineer-git {
    width: 52px;
}

.inner-avitar-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.engineer-name-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

