.AvitarModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.modalGreyArea {
    min-height: 100%;
    min-width: 100vw;
    background-color: rgba(6, 40, 61, 0.5);
    /* opacity: 50%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.AvitarModalContent {
    /* position: absolute; */
    top: 0;
    left: 25%;
    /* transform: translateY(20%); */
    display: flex;
    width: 200px;
    height: 400px;
    background-color: #DFF6FF ;
    opacity: 100% !important;
    z-index: 11;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    color: black;
    border-radius: 20px;
    padding-inline:150px;
    padding-block: 100px;
    justify-self: center;
    align-self: center;
}

.AvitarModalPic {
     height: 40%;
     margin-bottom: 10%;
}

.AvitarModalPicsEdit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    cursor: pointer;
    width: 500px
}



.AvitarModalPicsEditPic {
    height:120px;
    width: 80px;
}

.AvitarModalEditButton {
padding-inline: 10px;
    margin-inline: 5px;
    height: 40px;
    border: none;

    background: linear-gradient(to right, #256D85 5%, #06283D 99%);
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px rgb(0 0 0 / 30%);
    cursor: pointer;
    text-align: center;
        
}

/* .avitar-modal-equips {

} */

.avitar-show-stats {
    height: auto;
    display: flex;
    flex-direction: column;
}


.AvitarModalSelecNewAvitar{
    margin: 10px;
}

.AvitarModalChangeAvitar {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 20px;
}
.AvitarModalChangeSelection{
    display: flex;
    flex-direction: column;
justify-content: center;
}

.AvitarModalEditBothButtons{
    display:flex;
    justify-content: space-evenly;
    
}