.task-item-container {
    background-color: white;
    width: 92%;
    height: 55px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}

.task-item-container:hover {
    box-shadow: 2px 2px 2px 1px rgb(6, 40, 61, 0.2);
    border: 1px solid #47B5FF;
}

.task-item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.task-item-body-start {
    display: flex;
}

.task-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* left: 15%; */
    margin-left: 5%;
    margin-bottom: 12px;

}

.task-checkbox {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.checkbox {
    display: inline-block;
    height: 18px;
    width:18px;
    background-color: #DFF6FF;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 7px;
    border: 1px solid #47B5FF;
    border-radius: 4px;
}

.checkbox--active {
    background-color: #47B5FF;
}

.task-options-dropdown {
    position: absolute;
    /* background-color: white; */
    height: 120px;
    width: 100px;
    /* border: 1px solid black; */
    left: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.task-options-dropdown div:first-child {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 16px;
}

.task-options-dropdown div:last-child {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 16px;
}

.task-options-dropdown div:first-child:hover {
    background-color: #DFF6FF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.task-options-dropdown div:last-child:hover {
    background-color: #DFF6FF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.task-item-options {
    margin-right: 5px;
    padding: 8px;
    position: absolute;
    right: 5%;
}

/* .task-options-edit {
    border-radius: 8px;

} */