.task-item-container {
    background-color: white;
    width: 94%;
    height: 55px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 16px;
    border-radius: 5px;
    cursor: pointer;
}


.task-item-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.task-item-body-start {
    display: flex;
}

.task-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-checkbox {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.checkbox {
    display: inline-block;
    height: 18px;
    width:18px;
    background-color: #DFF6FF;
    margin-right: 5px;
    margin-left: 5px;
}

.checkbox--active {
    background-color: #47B5FF;
}



