.splash-signup {
    background-color: rgba(71, 181, 255, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding-bottom: 10%;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
}

.signup-header-text {
    margin-top: 10px;
    font-size: 26px;
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
}
.signupErrors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
}

.splash-signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-signup-form label{
    align-self: flex-start;
    padding-left: 50px;
}

.splash-signup-form > input{
    width: 75.5%;
    height: 36px;
    background-color: rgba(223, 246, 255, .9);
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
}

.splash-page-SignUp {
    font-size: 17px;
    border: none;
    color: white;
    background: linear-gradient(to right, #256D85 5%, #06283D 99%);
    cursor: pointer;
    border-radius: 8px;
    width: 80%;
    height: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
}

.splash-page-SignUp:hover {
    background-color: rgb(6,40,61);

}

