.login-modal {
    width: 400px;
    height: 335px;
    background-color: rgba(71, 181, 255, .96);
    border-radius: 12px;
    box-shadow: 3px 3px rgba(0, 0, 0, .3);
}

.login-modal-border {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 24px 24px;
}

.login-form input{
    border-radius: 8px;
    height: 34px;
    padding-left: 20px;
    /* border: 1px solid #222222; */
    border: none;
    margin-bottom: 24px;
    outline: none;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
}
.errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
}

.login-header {
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    color: #DFF6FF;
}

.login-submit-button {
    margin-top: 20px;
    font-size: 15px;
    height: 32px;
    border-radius: 8px;
    border: none;
    color: white;
    background: linear-gradient(to right, #256D85 5%, #06283D 99%);
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
}

.login-demo {
    font-size: 15px;
    height: 32px;
    border-radius: 8px;
    border: none;
    color: white;
    background: linear-gradient(to right, #256D85 5%, #06283D 99%);
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, .3);
    width: 87%;
    align-self: center;
}