.task-modal {
    height: 500px;
    width: 500px;
    background-color: white;
}

.task-form {
    height: 100vh;
    width: 500px;
    background: white;
}

.taskform-complete {
    z-index: 500;
    position: relative;
    height: 50px;
    width: 50px;
}