.navbar-team-names {
    color: #DFF6FF;
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    width: 260px;
    /* justify-self: flex-start; */
    transition: all;
}