.list-show-container {
    display: flex;
    width: 100%;
    background-color: #DFF6FF;
}

.todo-section {
    width: 100%;
    margin: 15px 20px 15px 20px;
}

.quest-section {
    width: 100%;
    margin: 15px 15px 15px 15px;

}

.quest-info-section {
    width: 100%;
    margin: 15px 15px 15px 15px;

}