.questlist-container {
    height: 100vh;
    background-color: #EDECEE;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quest-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.quest-list {
    height: 100%;
}