.navbar {
    
    border-bottom: 1px solid black;
    width: 100vw;
    height: 56px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #06283D;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.6);
    z-index: 9;
}

.navbar-homebox {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 150px;
    cursor: pointer;
}

.navbar-logo {
    aspect-ratio: 1;
    height: 50px;
}

.navbar-logotext {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #DFF6FF;
}

.navbar-coins {
    height: 32px;
    aspect-ratio: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    width: 700px;
    margin-left: 60px;
}

.navbar-right {
    display: flex;
    position: absolute;
    margin-right: 4%;
    right: 0;
    justify-content: space-between;
    width: 160px;
    align-items: center;
}

.navbar-coinbox {
    display: flex;
    align-items: center;
}

.navbar-coin-amount {
    color: #DFF6FF;
    padding-left: 10px;
    font-size: 14px;
}

.navbar-inventory {
    color: #DFF6FF;
    height: 100%;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    margin-left: 40px;
    z-index: 5;
}

.navbar-teams {
    color: #DFF6FF;
    padding-left: 25px;
    cursor: pointer;
}

.navbar-shop {
    color: #DFF6FF;
    padding-left: 25px;
    cursor: pointer;
}

@media (max-width: 985px) {
    .navbar-logotext {
        display: none;
    } .navbar-left {
        margin-left: 40px;
        max-width: 600px;
    }
}

@media (max-width: 985px) {
    .navbar-homebox {
        width: 50px;
    } 
}

@media (max-width: 845px) {
    .navbar-logo {
        display: none;
    } .navbar-left {
        margin-left: 0px;
    } .navbar-homebox {
        width: 0px;
    }
}

@media (max-width: 475px) {
    .navbar-coinbox  {
        display: none;
    }
    .navbar-right {
        flex-direction: row-reverse;
    } .navbar-teams {
        left: 20px;
    }
}

.navbar-help {
    color: white;
    margin-left: 25px;
    cursor: pointer;
}